doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')


    body
        div(class="wrapper")
            h1 Leserator
            form(method='POST' action='/waiting')
                label(class='unsichtbar' for='name') Bitte geben Sie hier die URL der zu validierenden Webseite ein.
                input#name.form-control(type='text' name='url' placeholder='URL eingeben')
                label(class='unsichtbar' for='validieren') Betätigen Sie den Button, um die Validation der eingegebenen Webseite zu starten. Dies kann einen Moment dauern.
                button#validieren.btn.btn-primary(type='submit' class='mainbutton') Validieren
        footer
            ul
                li: a(href="/handbuch") Handbuch
                li: a(href="/about") Über Uns
                li: a(href="/impressum") Impressum


