doctype html
html
    head
        title= title
    body
        h1 Leserator.de
        form(method='POST' action='/validateWebsite')
            input#name.form-control(type='text' name='url')
            button.btn.btn-primary(type='submit') OKTest


