doctype html
html
    head
        title= title
        script(src='/js/jquery.js')
        script(src='/js/waiting.js')
        link(rel='stylesheet', href='/css/sonar.css')
    body
        iframe.iframeWaiting(src='/validateWebsite')
        div.modalWaiting
            div.modalWaiting-content
                div.sonar-wrapper
                    div.sonar-emitter
                        div.text Bitte warten.
                        div.textExplain #{url} wird im Hintergrund geladen und analysiert.
                        div.sonar-wave

