doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device-width' minimum-scale='1.0')
        meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-requests')
        script(src='/js/jquery.js')
        script(src='/js/waiting.js')
        link(rel='stylesheet', href='/css/sonar.css')
    body
        iframe.iframeWaiting(src='/validateWebsite')
        div.modalWaiting
            div.modalWaiting-content
                div.sonar-wrapper
                    div.sonar-emitter
                        div.text Bitte warten.
                        div.textExplain #{url} wird im Hintergrund geladen und analysiert.
                        div.sonar-wave

