doctype html
html
    head
        title= title
        script(src='/js/jquery.js')
        script(src='/js/waiting.js')
        link(rel='stylesheet', href='/css/sonar.css')
    body
        div.sonar-wrapper
            div.sonar-emitter
                div.text bitte warten
                div.textExplain Webseite wird im Hintergrund geladen und analysiert
                div.sonar-wave

