
.modalWaiting {
    all: unset;
    position: fixed;
    z-index: 9999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding-top: 29px;
}

.modalWaiting-content {
    all:unset;
    position: absolute;
    background-color: transparent;
    z-index: 9999999999999;
    margin-left: -250px;
    width: 500px;
    top: 1%;
    padding: 30px;
    border-radius: 20px;
    font-size: 50px;
}

.iframeWaiting {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.sonar-wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 8rem 0;
}

/* The circle */
.sonar-emitter {
    position: relative;
    margin: 0 auto;
    width: 275px;
    height: 275px;
    border-radius: 9999px;
    background-color: #80ba27;
    color: white;
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #80ba27;
    color: white;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
    animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.text{
    text-align: center;
    position: relative;
    top: 28%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 40px !important;
}

.textExplain{
    text-align: center;
    position: relative;
    top: 28%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px !important;
}
