html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
}


.wrapper{
    text-align: center;
    width: 40%;
    margin: auto;
    top: 35%;
    position: relative;
}


h1{
    text-align: center;
    margin-top: 40px;
}
button{
    margin: 5px auto;
    display: block;
}

.topInfoBox {
    margin-top: 40px;
}

.validationBox  {
    max-height: 300px;
    overflow-x: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

label.unsichtbar {
    display: none;
}

@media screen and (max-width:992px){
    body{
        font-size: 95%;
    }
    nav ul{
        text-align: center;
    }
    .navbar-right{
         margin-left: 0;
         margin-right: auto;
         padding-bottom: 1em;
     }
}
@media screen and (max-width:800px){
    body{
        font-size: 90%;
    }
}
@media screen and (max-width: 575px){
    body{
        font-size:80%;
    }
}

button{
    margin: 0;
}
.mainbutton{
    margin: .5em auto;
}

.p-3 {
    padding: 3em!important;
}



