html, body {
    font-size: 100%;
    height: 100%;
    width: 100%;
}


.wrapper{
    text-align: center;
    width: 40%;
    margin: auto;
    top: 25%;
    position: relative;
}


h1{
    text-align: center;
    margin-top: 40px;
}
button{
    margin: 5px auto;
    display: block;
}

.topInfoBox {
    margin-top: 40px;
}

.validationBox  {
    max-height: 300px;
    overflow-x: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e6e6e6;
}

label.unsichtbar {
    display: none;
}

@media screen and (max-width:992px){
    html{
        width: 100%;
    }
    body{
        font-size: 95%;
    }
    .wrapper{
        width: 60%
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media screen and (max-width:768px){
    body{
        font-size: 90%;
    }
    .wrapper{
        width: 70%;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media screen and (max-width: 576px){
    body{
        font-size:80%;
    }
    .wrapper{
        width: 80%;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
        word-break: break-word;
    }

    .p-3 {
        padding: 1em!important;
    }

    .display-3 {
        font-size: 3rem !important;
    }

    .display-4 {
        font-size: 2.5rem !important;
    }
}

button{
    margin: 0;
}
.mainbutton{
    margin: .5em auto;
}
@media screen and (min-width: 992px){
    .p-3 {
        padding: 3em !important;
    }
}


.navbar-brand{
    padding-top: 0;
}
.alert-warning {
    color: #5d4706;
}
.auswertungslink{
    color: black;
    font-style: italic;
    text-decoration: underline;
}
p a{
    text-decoration: underline;
    color: #343a40;
}

.btn-primary {
    color: #343a40;
    background-color: #bfddff;
    border-color: #343a40;
}

.form-control{
    border: 1px solid #343a40;
}
